In [ ]:
a = "1234"
a = int(a)
print(a)

1234

In [ ]:
b = 12.75
b = int(b)
print(b)

12

In [ ]:
b=12.5
b=str(b)
print(b)

12.5

In [ ]:
a="122"
a=float(a)
print(a)

122.0

In [ ]:

BS=int(input("Enter your basic salary"))

if(BS<20000):
    HRA=(BS*76)/100
    DA=(BS*78)/100
elif(BS>20000 and BS<30000):
    HRA=(BS*79)/100
    DA=(BS*82)/100
else:
    HRA=(BS*85)/100
    DA=(BS*89)/100

grossprofit=BS+HRA+DA
print("Your Gross Salary is : ",grossprofit)

Enter your basic salary24000
Your Gross Salary is :  62640.0

In [ ]:
salary=int(input("enter your salary"))

if(salary >= 500000 and salary < 1000000):
   sum1= (200000*5)/100
   sum2= (300000*10)/100
   TDS=sum1+sum2
   print(TDS)
elif:(salary >= 1000000 and salary < 2000000):
  sum3=(200000*5)/100
  sum4=(300000*10)/100
  sum5=(500000*15)/100